################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cagd/v15
/src
/lib
/doc
/Debug
/Backup
*.pdb
/demo/Debug