################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
#/src
#/lib
#doc
#/Debug
#/Backup
*.pdb
#/demo/Debug
*.ipch
*.pch
*.tlog
*.obj
*.exe
*.ilk
*.log
*.bsc
*.lib
*.lastbuildstate
*.idb
*.sbr
*.enc
/enc_temp_folder/6228e853b03eb13f22a261d35841ed5
